html, body, #root {
  height: 100%
}

.background {
  height: 100%;
  background-color: #20201f;
  display: flex;
  justify-content: center;
  align-items: center;
}

a {
  text-decoration:none;
  color:#FFF;
}

.my-button {
  width:23%;
  height:100%;
  background-image: linear-gradient(90deg, #00C0FF 0%, #FFCF00 49%, #FC4F4F 80%, #00C0FF 100%);
  border-radius:5px;
  display:flex;
  align-items:center;
  justify-content:center;
  text-transform:uppercase;
  font-size:3vw;
  font-weight:bold;
  margin: 5px;
}
.my-button:after {
  content:attr(alt);
  width:95%;
  height:95%;
  background-color:#191919;
  display:flex;
  align-items:center;
  justify-content:center;
}
.my-button:hover {
  animation:slidebg 2s linear infinite;
}

@keyframes slidebg {
  to {
    background-position:15vw;
  }
}