

@Font-face {
  font-family: 'font';
  src: url('font/font.ttf') format('truetype');
}

body {
  margin: 0;
  font-family: 'font' ,Fallback, sans-serif;
}
/* 
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */
